{% extends "layout.twig" %}

{% block content %}

<h1 id="titleExemple">{{ trans('messages.title') }}</h1>
<p>{{ trans('messages.greet', {'name': user}) }}</p>
<div id="logo"></div>

<form action="{{ path_for('home_post')}}" method="post">
  <input type="submit" class="btn btn-primary" value="Test">
  {{ csrf() }}
</form>

{% endblock %}
