$color: #dc3545;
$size: 3rem;
$img: url(https://miroir.horyzone.fr/upload/logo-sim-transparent-200px.png);

#titleExemple {
    color: $color;
    font-size: $size;
}

#logo {
    width: 200px;
    height: 200px;
    background: $img;
}
